.display-recipe {
  max-width: 800px;
  height: 100vh;
  overflow: auto;
  margin: auto;
  box-shadow: 0 1rem 25px -10px #888;
}

.display-recipe h3 {
  font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .display-recipe {
    max-width: 500px;
    margin: auto;
    margin: 20px 20px 0 20px;
  }
  .display-recipe h3 {
    font-size: 15px;
  }
}

.vegan_img {
  width: 400px;
  height: 400px;
}
